body {
  margin: 0;
  height: 100%;
  background-color: #DAE4DF;
  font-family: Arial, sans-serif;
}

.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px 15px;
} 

.todo-item span {
  color: black;
  font-weight: bold;
}

.todo-item .edit-button,
.todo-item .delete-button {
  margin-left: 10px;
}

.todo-item:hover {
  background: #E6E6FA;
}

.todo-item.completed span {
  text-decoration: line-through; 
  text-decoration-color: red; 
  text-decoration-thickness: 2px; 
  color: black; 
  font-weight: bold; 
}

.todo-item .checkbox span {
  color: #333;
  font-weight: 500;
}
